In [1]:
# list of highschools
#high_schools = ["Hernandez High School", "Figuera High School","Wilson High School", "Wright High School"]
#for schools in high_schools:
#    print(f'{schools}')

In [2]:
# # Dictionary of high schools and type of high schools
# high_school_types = [{"High School": "Griffin", "Type":"District"},
#                    {"High School": "Figueroa", "Type":"District"},
#                     {"High School": "Wilson", "Type":"Charter"},
#                     {"High School": "Wright", "Type":"Charter"},]
# for school_type in high_school_types:
#     print(school_type)

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [4]:
# Add Pandas as dependency
import pandas as pd

In [5]:
# create a Panda Series from a list
school_series = pd.Series(high_schools)
print(f'{school_series}\n')

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [9]:
#initialize empty dataframe
schools_df = pd.DataFrame()

In [10]:
#adding new lists to dataframe
schools_df['School ID'] = school_id
schools_df['School Name'] =school_name
schools_df['Type of School']=type_of_school

In [11]:
#print the dataframe
schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [12]:
# Create a dictionary of information on high schools.
#high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [13]:
schools_df.columns

Index(['School ID', 'School Name', 'Type of School'], dtype='object')

In [14]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [16]:
schools_df_practice = pd.DataFrame()

In [17]:
schools_df_practice.columns = (['School ID','School Name', 'School Type'], dtype='object')
schools_df_practice.index = (start=0, stop=14, step=1)
schools_df_practice.array = ([[0, 'Huang High School', 'District']
                                  [1, 'Figueroa High School', 'District']
                                  [2, 'Shelton High School', 'Charter']
                                  [3, 'Henandez High School', 'District']
                                  [4, 'Griffin High School', 'Charter']
                                  [5, 'Wilson High School', 'Charter']
                                  [6, 'Cabrera High School', 'Charter']
                                  [7, 'Bailey High School', 'District']
                                  [8, 'Holden High School', 'Charter']
                                  [9, 'Pena High School', 'Charter']
                                  [10, 'Wright High School', 'Charter']
                                  [11, 'Rodriguez High School', 'District']
                                  [12, 'Johnson High School', 'District']
                                  [13, 'Ford High School', 'District']
                                  [14, 'Thomas High School', 'Charter']], dtype=object)

SyntaxError: invalid syntax (Temp/ipykernel_25888/2662907725.py, line 1)

In [ ]:
print(schools_df_practice)