In [1]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Dependencies and Setup
import pandas as pd
# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [2]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)
# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [3]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"",regex=False)
# Check names.
student_data_df.head(10)
# Student ID	student_name	gender	grade	school_name	reading_score	math_score
# 0	0	Paul Bradley	M	9th	Huang High School	66	79
# 1	1	Victor Smith	M	12th	Huang High School	94	61
# 2	2	Kevin Rodriguez	M	12th	Huang High School	90	60
# 3	3	Richard Scott	M	12th	Huang High School	67	58
# 4	4	Bonnie Ray	F	9th	Huang High School	97	84
# 5	5	Bryan Miranda	M	9th	Huang High School	94	94
# 6	6	Sheena Carter	F	11th	Huang High School	82	80
# 7	7	Nicole Baker	F	12th	Huang High School	96	69
# 8	8	Michael Roth	M	10th	Huang High School	95	87
# 9	9	Matthew Greene	M	10th	Huang High School	96	84

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [4]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########


# Deliverable 1: Replace the reading and math scores.
#Replace the 9th grade reading and math scores at Thomas High School with NaN.

# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [5]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.

ninth_grade_cheaters_df = student_data_df.loc[(student_data_df["school_name"]=="Thomas High School") & 
                                              (student_data_df["grade"] == "9th")]

In [6]:
ninth_grade_cheaters_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76
37540,37540,Austin Meyer,M,9th,Thomas High School,73,96
37543,37543,Madison Hampton,F,9th,Thomas High School,82,73
...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84

In [16]:
passing_grades = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100
]
for number in passing_grades:
    ninth_grade_cheaters_df["reading_score"] = ninth_grade_cheaters_df["reading_score"].replace(number,"NaN",regex=False)

C:\Users\gkmb2\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [18]:
ninth_grade_cheaters_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,NaN,NaN
37538,37538,Tanya Martinez,F,9th,Thomas High School,NaN,NaN
37539,37539,Noah Erickson,M,9th,Thomas High School,NaN,NaN
37540,37540,Austin Meyer,M,9th,Thomas High School,NaN,NaN
37543,37543,Madison Hampton,F,9th,Thomas High School,NaN,NaN
...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN

In [19]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
passing_grades = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100
]
for number in passing_grades:
    ninth_grade_cheaters_df["math_score"] = ninth_grade_cheaters_df["math_score"].replace(number,"NaN",regex=False)
ninth_grade_cheaters_df

C:\Users\gkmb2\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,NaN,NaN
37538,37538,Tanya Martinez,F,9th,Thomas High School,NaN,NaN
37539,37539,Noah Erickson,M,9th,Thomas High School,NaN,NaN
37540,37540,Austin Meyer,M,9th,Thomas High School,NaN,NaN
37543,37543,Madison Hampton,F,9th,Thomas High School,NaN,NaN
...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN

In [26]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

#  Step 4. Check the student data for NaN's. 
ninth_grade_cheaters_df.loc[ninth_grade_cheaters_df["reading_score"]=="NaN"].count()["reading_score"]

461

In [27]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Deliverable 2 : Repeat the school district analysis
# District Summary
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()
# Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
# 0	0	Paul Bradley	M	9th	Huang High School	66	79	0	District	2917	1910635
# 1	1	Victor Smith	M	12th	Huang High School	94	61	0	District	2917	1910635
# 2	2	Kevin Rodriguez	M	12th	Huang High School	90	60	0	District	2917	1910635
# 3	3	Richard Scott	M	12th	Huang High School	67	58	0	District	2917	1910635
# 4	4	Bonnie Ray	F	9th	Huang High School	97	84	0	District	2917	1910635
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

In [28]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [43]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
ninth_grade_cheaters_count_df = ninth_grade_cheaters_df.loc[ninth_grade_cheaters_df["reading_score"]=="NaN"].count()["reading_score"]
ninth_grade_cheaters_count_df

461

In [44]:
# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [52]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
clean_student_data = student_count - ninth_grade_cheaters_count_df
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [54]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Step 3. Calculate the passing percentages with the new total student count.
clean_passing_math_percentage = passing_math_count/clean_student_data *100
print(clean_passing_math_percentage)
clean_passing_reading_percentage = passing_reading_count/clean_student_data *100
print(clean_passing_reading_percentage)

75.87382779198636
86.82735281200755

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [ ]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

# Step 4.Calculate the overall passing percentage with new total student count.
​
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])

In [ ]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)
​
# Display the data frame
district_summary_df

In [ ]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

In [ ]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

In [ ]:
######## Copied from the CHALLENGE STARTER CODE FILE   ########

In [ ]:
# add Pandas as dependency
import pandas as pd

In [ ]:
# files that we need to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [ ]:
# read the school files that we loaded
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

In [ ]:
# read the student file that we added
student_data_df = pd.read_csv(student_data_to_load)
student_data_df

In [ ]:
# # determine missing values using count method
# school_data_df.count()

In [ ]:
# student_data_df.count()

In [ ]:
# # Determine missing values ISNULL method
# school_data_df.isnull()

In [ ]:
# # Determine missing values ISNULL method & Sum Method
# school_data_df.isnull().sum()

In [ ]:
# student_data_df.isnull()

In [ ]:
# student_data_df.isnull().sum()

In [ ]:
# Determining missing values using the NOTNULL Method
school_data_df.notnull()

In [ ]:
# Determining missing values using NOTNULL & Sum
school_data_df.notnull().sum()

In [ ]:
# Determining missing values using the NOTNULL Method
student_data_df.notnull()

In [ ]:
# Determining missing values using NOTNULL & Sum
student_data_df.notnull().sum()

In [ ]:
# determine data types
school_data_df.dtypes

In [ ]:
# determine data types for a specific column
# First Way: 
# school_data_df.budget.dtype
# Second Way:
school_data_df["budget"].dtype

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for name in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(name, "", regex=False)

In [ ]:
print(student_data_df)

In [ ]:
school_data_complete_df =pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df

In [ ]:
# Get the total number of students
student_count = school_data_complete_df.student_name.count()
student_count

In [ ]:
# Get # of students from a specific column
school_data_complete_df["Student ID"].count()

In [ ]:
# Calculate total number of schools
# option 1 using the school data dataframe
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
# option 2 using the combined school/student dataframe
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2

In [ ]:
# calculating total budget - EASIER to use the individual School Data frame then the combined, 
# since the budget is associated to each of the students and creates multiplication error when summed
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
float(average_reading_score)

In [ ]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
float(average_math_score)

In [ ]:
passing_math_scores = school_data_complete_df["math_score"] >=70
passing_reading_scores = school_data_complete_df["reading_score"] >=70

In [ ]:
print(passing_math_scores)

In [ ]:
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >=70]
len(passing_math)

In [ ]:
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]
len(passing_reading)

In [ ]:
passing_math_count = passing_math.student_name.count()
passing_reading_count = passing_reading.student_name.count()

print(passing_math_count)
print(passing_reading_count)

In [ ]:
passing_math_percent = passing_math_count / student_count * 100

print(passing_math_percent)

In [ ]:
passing_reading_percent = passing_reading_count / student_count * 100
print(passing_reading_percent)

In [ ]:
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

In [ ]:
# Overall passing students of both MATH & READING
overall_passing_count = passing_math_reading.student_name.count()

In [ ]:
#Overall passing percnet of Math & READING
overall_passing_percent = overall_passing_count / float(student_count) *100
overall_passing_percent

In [ ]:
# District Summary Chart - RAW

district_summary_df= pd.DataFrame(
    [{"Total Schools": school_count,
     "Total Students": student_count,
     "Total Budget": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": passing_math_percent,
     "% Passing Reading": passing_reading_percent,
     "% Overall Passing": overall_passing_percent}])
district_summary_df

In [ ]:
#Define a function that calculates passing math percentage

def passing_math_percent(passing_math_count, student_count):
    return passing_math_count/ float(student_count) *100

passing_math_percent(passing_math_count, student_count)

In [ ]:
# Formatting a thousand seperator into a column (",")
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

In [ ]:
# Formatting for Currency to two decimal places ("$",","(.2f))
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

In [ ]:
# Formatting for the remaining columns
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
print(district_summary_df["Average Reading Score"])
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
print(district_summary_df["Average Math Score"])
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
print(district_summary_df["% Passing Reading"])
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
print(district_summary_df["% Passing Math"])
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
print(district_summary_df["% Overall Passing"])

In [ ]:
district_summary_df

In [ ]:

# # Reorder the columns in the order you want them to appear.
# new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# # Assign district summary df the new column order.
# district_summary_df = district_summary_df[new_column_order]
# district_summary_df

In [ ]:
#Determine the school type
per_school_types = school_data_df.set_index(["school_name"]) ["type"]
per_school_types

In [ ]:
per_school_types_df = pd.DataFrame(per_school_types)
per_school_types_df

In [ ]:
# Calculate total student count - missing the "scbool name" key to match on the data
# per_school_counts = school_data_df["size"]
# per_school_counts

In [ ]:
# Using the school data - not combined data
# per_school_counts = school_data_df.set_index(["school_name"])["size"]
# per_school_counts

In [ ]:
# Using the combined Data
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
# calculating the per student budget per school
per_school_capita = per_school_budget/per_school_counts
per_school_capita

In [ ]:
# # The school data / set index methods have too many instances to be useful
# per_school_grades_math = student_data_df.set_index(["school_name"])["math_score"]
# per_school_grades_math

In [ ]:
# Average Math Scores
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
print(per_school_math)
print(per_school_reading)

In [ ]:
per_school_types_df

In [ ]:
# Pseudocode for the remaining calculations
# 1. Determine what is the passing grade (70)
# 2. Get the Number of Students who passed math and reading.
# 3. Get the sutdents who passed math and reading

In [ ]:
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >=70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >=70)]

print(per_school_passing_math)
print(per_school_passing_reading)

In [ ]:
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

In [ ]:
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

In [ ]:
per_school_passing_math_percentage = per_school_passing_math/ per_school_counts *100
per_school_passing_math_percentage

In [ ]:
per_school_passing_reading_percentage = per_school_passing_reading/ per_school_counts *100
per_school_passing_reading_percentage

In [ ]:
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >=70) & (school_data_complete_df["reading_score"] >= 70)]
per_passing_math_reading

In [ ]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

In [ ]:
per_school_summary_df = pd.DataFrame(
    {"School type": per_school_types,
     "Total Students": per_school_counts,
     "Total School Budget": per_school_budget,
      "Per Student Budget": per_school_capita,
     "Average Math Score": per_school_math,
     "Average Reading Score": per_school_reading,
     "% Passing Math": per_school_passing_math_percentage,
     "% Passing Reading": per_school_passing_reading_percentage,
     "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

In [ ]:
per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)
per_school_summary_df["Total Students"]

In [ ]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Total School Budget"]

In [ ]:
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"]

In [ ]:
per_school_summary_df

In [ ]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [ ]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"],)

bottom_schools.head()

In [ ]:
#filtering to create specific grade level dfs
ninth_graders_df = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders_df = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders_df = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders_df = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [ ]:
print(ninth_graders_df.head())

In [ ]:
#creating each grade scores as a seperate database
ninth_graders_math_scores = ninth_graders_df.groupby(['school_name']).mean()['math_score']
tenth_graders_math_scores = tenth_graders_df.groupby(['school_name']).mean()['math_score']
eleventh_graders_math_scores = eleventh_graders_df.groupby(['school_name']).mean()['math_score']
twelfth_graders_math_scores = twelfth_graders_df.groupby(['school_name']).mean()['math_score']

In [ ]:
eleventh_graders_math_scores

In [ ]:
#creating each grade scores as a seperate database
ninth_graders_reading_scores = ninth_graders_df.groupby(['school_name']).mean()['reading_score']
tenth_graders_reading_scores = tenth_graders_df.groupby(['school_name']).mean()['reading_score']
eleventh_graders_reading_scores = eleventh_graders_df.groupby(['school_name']).mean()['reading_score']
twelfth_graders_reading_scores = twelfth_graders_df.groupby(['school_name']).mean()['reading_score']

In [ ]:
twelfth_graders_reading_scores

In [ ]:
#combining grade scores into 1 data frame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_math_scores,
    "10th": tenth_graders_math_scores,
    "11th": eleventh_graders_math_scores,
    "12th": twelfth_graders_math_scores})
math_scores_by_grade.head()

In [ ]:
#combining grade scores into 1 data frame
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_reading_scores,
    "10th": tenth_graders_reading_scores,
    "11th": eleventh_graders_reading_scores,
    "12th": twelfth_graders_reading_scores})
reading_scores_by_grade.head()

In [ ]:
#formatting for each column
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

#making sure each column is in correct order
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

#remove the index name from column
math_scores_by_grade.index.name = None

In [ ]:
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.1f}".format)

#making sure each column is in correct order
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

#remove the index name from column
reading_scores_by_grade.index.name = None

In [ ]:
math_scores_by_grade

In [ ]:
reading_scores_by_grade

In [ ]:
# get the descriptive stats for the per_school_capita
per_school_capita.describe()

In [ ]:
# create spending bins list
spending_bins = [0, 585, 630, 645, 675]
# cut per_school_capita into spending bins
pd.cut(per_school_capita, spending_bins)

In [ ]:
#count number of schools in each spending bin
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# establish the spending bins and group names
group_names = ["<$584", "$585-629", "$630-645", "$645-675"]

In [ ]:
#Categorize Spending based on the bins
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels = group_names)
per_school_summary_df.head()

In [ ]:
#calculate averages for the desired columns
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
print(overall_passing_spending)

In [ ]:
spending_summary_df =pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Passing Overall": overall_passing_spending})
spending_summary_df

In [ ]:
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Passing Overall"] = spending_summary_df["% Passing Overall"].map("{:.0f}".format)

In [ ]:
spending_summary_df

In [ ]:
# create size bins list
size_bins = [0, 1000, 2000, 5000]
# Name the Groups
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

pd.cut(per_school_counts, size_bins)

In [ ]:
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_counts, size_bins, labels=group_names)

per_school_summary_df

In [ ]:
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_passing_overall = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
size_summary_df =pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Passing Overall": size_passing_overall})
size_summary_df

In [ ]:
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Passing Overall"] = size_summary_df["% Passing Overall"].map("{:.0f}".format)

In [ ]:
size_summary_df

In [ ]:
type_math_scores = per_school_summary_df.groupby(["School type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School type"]).mean()["% Passing Reading"]
type_passing_overall = per_school_summary_df.groupby(["School type"]).mean()["% Overall Passing"]

In [ ]:
type_summary_df =pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Passing Overall": type_passing_overall})
type_summary_df

In [ ]:
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Passing Overall"] = type_summary_df["% Passing Overall"].map("{:.0f}".format)

In [ ]:
type_summary_df